@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "Tropikal";
  src: url("/assets/Tropikal-Bold.otf") format("otf");
  font-weight: bold;
}

// _library.scss
$body-font: "Roboto Condensed", sans-serif;
$header-font: "Tropikal", Verdana, sans-serif;
$bg-color: #f8f5f2;
$accent-color: #cbcddd;
$border-style: 1px solid #232323;
$border-rad: 13px;
$highlight: #3a4fcd;
$subtitle: #5e68a0;
$black: #232323;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: $border-rad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $highlight;
  border-radius: $border-rad;
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  background: $bg-color;
  box-sizing: border-box;
  font-family: $body-font;
}

li {
  list-style: none;
}
h4 {
  font-family: $header-font;
}
a,
a:visited {
  text-decoration: none;
  color: $black;
}

a:hover,
a:focus {
  font-weight: bold;
  color: $highlight;
}

a.btn {
  border: $border-style;
  background: transparent;
  font-family: $body-font;
}

a.btn:hover {
  border: 1px solid $highlight !important;
  background: $highlight !important;
  color: $bg-color !important;
}

.navbar-nav {
  width: 100%;

  font-family: $header-font;
  justify-content: end;
  .nav-item .nav-link {
    color: $black;
    font-size: 2em;
    &:hover,
    &:active {
      color: $highlight;
    }
  }
}

.mobile-nav {
  display: none;
}

.container-fluid {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  .navbar-brand {
    font-family: $header-font;
    font-size: 2em;
  }
}
h1 {
  left: 0;
  font-family: $header-font;
  font-size: 1.2rem;
  padding: 20px;
}

h2 {
  font-family: $header-font;
  font-size: 4em;
}

h3 {
  font-family: $header-font;
  font-size: 3em;
}

#landing {
  p {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin: auto;
  }
  .landing__content {
    justify-content: center;
    padding: 10rem 0 5rem;

    img {
      max-width: 100%;
      height: auto;
    }
    h3 {
      margin: auto;
      text-align: center;
    }
  }
}

#projects,
#hacks {
  padding: 5rem 0;
  background-color: $accent-color;
  h2 {
    text-align: center;
    padding: 35px 0;
  }
  .card {
    max-width: 50em;
    margin: auto;
    padding: 15px 0;
    background: transparent;
    border: none;
    h5 {
      font-weight: bold;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: $border-rad;
      border: $border-style;
    }
  }
}
.text-muted {
  color: #5e68a0 !important;
  font-weight: bold !important;
}

#about {
  display: flex;
  flex-wrap: wrap;
  padding: 15em 0;
  justify-content: space-evenly;
  margin: auto;
  max-width: 80vw;
  .wrap {
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    max-width: 25vw;
  }
  .blurb {
    //padding: 1.2rem;
    max-width: 40vw;
    font-family: $body-font;
    h3,
    h4 {
      font-family: $header-font;
    }
    span {
      vertical-align: baseline;
      font-size: 15px;
      font-family: $body-font;
      font-style: italic;
    }
    ul {
      padding: 0;

      li a {
        text-decoration: none;
        list-style: none;
        color: $black;
      }
      a:hover {
        color: $highlight;
        font-weight: bold;
      }
    }
  }
  .mobile-blurb {
    display: none !important;
  }
}

@media (min-width: 200px) and (max-width: 1030px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: unset;
  }

  #projects .card,
  #hacks .card {
    max-width: 80%;
  }

  #about {
    padding-top: 10rem;
    .blurb {
      max-width: 100vw;
      h3 {
        font-size: 2.3rem;
      }
      h4 {
        font-size: 1.8rem;
      }
      .mobile-blurb {
        display: none;
      }
    }
    .wrap {
      max-width: 100vw;
    }
    .profile {
      display: none;
    }

    .cases-body {
      .mobile-warning {
        display: unset;
        text-align: center;
        padding: 15em 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow:hidden;
        background: #dbc6b3;
        h5 {
          margin: auto;
          margin: 1em;
        }
        
      }
      .case-navigation,
      .article,
      .intro,
      .problem,
      .process,
      .card,
      .pagination, footer {
        display: none !important;
      }
    }
  }

  #landing {
    p {
      opacity: 0;
    }
  }
  #about {
    .desktop-blurb {
      display: none !important;
    }

    .mobile-blurb {
      display: unset !important;
    }
  }

  footer {
    h4 {
      font-size: 1.2rem;
    }
    span {
      display: none;
    }
  }
}

.profile {
  height: 25vh;
  width: auto;
  border-radius: 50%;
  margin: 1.5rem;
  //position: relative;
}

footer {
  background-color: $accent-color;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  h4 {
    font-family: $header-font;
  }
  span {
    font-style: italic;
    font-size: 14px;
    font-family: $body-font;
  }
  a {
    padding: 0 20px;
    text-decoration: none;
    color: $black;
    font-family: $header-font;
  }
}
.bg-primary {
  background: #3a4fcd !important;
}
.badge {
  height: 24px;
  font-size: 14px;
  font-family: $body-font;
  font-weight: 200;
}
.desktop-nav {
  z-index: 1020;
  font-size: 1.6rem;
  .sidebar-name {
    transition: all 0.3s;

    font-family: $header-font;
    //width: 18vw;

    //height: 97vh;
    position: fixed;
    margin: 15px 0;
    //display: block;
    padding-left: 1rem;
  }

  .menu {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;

    font-family: $header-font;
    margin: 0 25px 0 25px;
  }
  ul {
    text-align: right;
    list-style-position: inside;
  }
  .links {
    padding: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}

// ======= Cases ======= //


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: $border-rad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $highlight;
  border-radius: $border-rad;
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  background: $bg-color;
  box-sizing: border-box;
  font-family: $body-font;
}

li {
  list-style: none;
}
h4 {
  font-family: $header-font;
}
a,
a:visited {
  text-decoration: none;
  color: $black;
}

a:hover,
a:focus {
  font-weight: bold;
  color: $highlight;
}

a.btn {
  border: $border-style;
  background: transparent;
  font-family: $body-font;
}

a.btn:hover {
  border: 1px solid $highlight !important;
  background: $highlight !important;
  color: $bg-color !important;
}


// ---------------------------------------- //
//  Case Study                             //
// --------------------------------------- //

.case-nav {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-family: $header-font;
  li {
    display: inline-block;
    padding-top: 1.2rem;
  }
  li:first-child {
    margin-right: 1.5rem;
  }
  a {
    padding: 1.2rem;
  }
}

.case-navigation {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
}
.banner {
  padding-bottom: 1.8rem;

  .card {
    background: transparent;
    border: none;
    max-width: 65em;
    margin: auto;
    img {
      width: 100%;
      border: $border-style;
      border-radius: $border-rad;
    }
  }
}

article {
  padding-top: 5rem;
  max-width: 70vw;
  margin: auto;
  
}
.intro {
  h2 {
    text-align: center;
  }
}
.benchmark {
  list-style-type: "→ ";
}

// Heading
.pagination {
  border-top: $border-style;
  border-bottom: $border-style;
  padding: 1.7rem;
   background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.progress {
  background: $highlight;
}
section {
  padding: 2rem 0;
  h4 {
    margin: .8rem 0;
  }
}
.gallery {
  margin:auto;
  //display: flex;
  flex-flow: row wrap;
 //max-width: 100vh;


  img {
height: 52vh;
 
  }
  
}
.problem {
  flex-wrap: row wrap;
  display: flex;
}


.bmList {
  justify-content: space-between;
  width: 40%;
}

// Temporary mobile warning
.mobile-warning {
  display: none;
}
