@font-face {
  font-family: "Tropikal";
  src: url(Tropikal-Bold.otf) format("otf");
  font-weight: bold;
}

$body-font: "Montserrat", sans-serif;
$header-font: "Montserrat", Verdana, sans-serif;
$primary-color: #eec8a5;
$accent-color: #f5e0bf;
$border: 1px solid #282725;
$highlight: #428c90;
$black: #282725;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: $primary-color;
  box-sizing: border-box;
  font-family: $body-font;
}

h1 {
  text-align: center;
  font-family: $header-font;
  font-size: 1.2rem;
  padding: 20px 0 20px;
}

.container {
  margin: auto;
  width: 90%;
  border: $border;
  background: $accent-color;
  height: 65vh;
  border-radius: 15px;
  translate: 50, 50;
  //position: relative;

  a,
  a:visited {
    text-decoration: none;
    color: $black;
    font-family: $header-font;
    font-weight: 600;
  }
  a:focus,
  a:active {
    font-weight: bold;
  }
  a:hover {
    font-weight: bold;
    color: $highlight;
  }
  nav {
    padding: 10px 0 10px 0;
    text-align: center;
    border-bottom: $border;
    a {
      padding: 0 5px 0;
    }
  }
}

footer {
  position:fixed;
  display: inline-block;
  bottom:0;
  text-align: center;
  width:100%;
  height: 80px;
  background: $highlight;
  
    p, a, a:active, a:visited {
      text-decoration: none;
      color: $black;
      font-weight: 500;
      font-family: $body-font;
      padding: 5px 0 5px 0; 
      font-size: 18px;
      display: inline-block;
    }
}
